<div>
<script> 
function copy(destName, sourceName) {
  source = document.getElementById(sourceName);
    dest = document.getElementById(destName);
    /*  alert(source.innerHTML);*/
      if(dest.source == source) {
          dest.innerHTML = "";
    dest.source = null;
       }
       else {
        dest.innerHTML = source.innerHTML;
        dest.source = source;
        }
          /*  dest.blur();*/
    }
</script>
<ul>

<li><div id="nwnlp2014_bib" style="display:none; text-align:left"><pre style="font-size:12px">
@inproceedings{context:nwnlp14,
 author = {Xiao Ling and Sameer Singh and Daniel S. Weld},
 title = {Context Representation for Named Entity Linking},
 booktitle = {Pacific Northwest Regional NLP Workshop (NW-NLP)},
 year = {2014}
}
</pre> </div> 
<b>Xiao Ling</b>, Sameer Singh, Daniel S. Weld. <a href="pubs/ling-nwnlp14.pdf">Context Representation for Named Entity Linking</a>. In Pacific Northwest Regional NLP Workshop (NW-NLP), 2014.  [<a href="pubs/ling-nwnlp14-poster.pdf">poster</a>] [<a href="javascript:copy('nwnlp2014','nwnlp2014_bib')">bib</a>]<br /><div id="nwnlp2014"> </div></li>

<li><div id="akbc2013_bib" style="display:none; text-align:left"><pre style="font-size:12px">
@inproceedings{ling2013extracting,
  title={Extracting Meronyms for a Biology Knowledge Base using Distant Supervision},
  author={Ling, X. and Weld, D.S.},
  booktitle={Automated Knowledge Base Construction (AKBC) 2013: The 3rd Workshop on Knowledge Extraction at CIKM},
  year={2013}
}    
</pre> </div> 
<b>Xiao Ling</b>, Daniel S. Weld. <a href="pubs/ling-akbc13.pdf">Extracting Meronyms for a Biology Knowledge Base using Distant Supervision</a>. In Automated Knowledge Base Construction (AKBC) 2013: The 3rd Workshop on Knowledge Extraction at CIKM 2013 in San Francisco, October 27-28, 2013. [<a href="pubs/ling-akbc13-poster.pdf">poster</a>] [<a href="javascript:copy('akbc2013','akbc2013_bib')">bib</a>]<br /><div id="akbc2013"> </div></li>

<li><div id="ijcai2013_bib" style="display:none; text-align:left"><pre style="font-size:12px">
@inproceedings{ling2013synthesizing,
  title={Synthesizing union tables from the web},
  author={Ling, Xiao and Halevy, Alon and Wu, Fei and Yu, Cong},
  booktitle={Proceedings of the Twenty-Third international joint conference on Artificial Intelligence},
  pages={2677--2683},
  year={2013},
  organization={AAAI Press}
}
</pre> </div>
<b>Xiao Ling</b>, Alon Halevy, Fei Wu, Cong Yu. <a href="pubs/ling-ijcai13.pdf">Synthesizing Union Tables from the Web</a>. In Proceedings of the Twenty-Third international joint conference on Artificial Intelligence (IJCAI), 2013. [<a href="pubs/ling-ijcai13-poster.pdf">poster</a>] [<a href="javascript:copy('ijcai2013','ijcai2013_bib')">bib</a>]<br /><div id="ijcai2013"> </div></li>

<li><div id="aaai2012_bib" style="display:none; text-align:left"><pre style="font-size:12px">
@inproceedings{ling2012fine,
  title={Fine-grained entity recognition},
  author={Ling, X. and Weld, D.S.},
  booktitle={Proceedings of the 26th Conference on Artificial Intelligence (AAAI)},
  year={2012}
}    
</pre> </div> 
<b>Xiao Ling</b>, Daniel S. Weld. <a href="pubs/ling-aaai12.pdf">Fine-Grained Entity Recognition</a>. In Proceedings of AAAI Conference on Artificial Intelligence (AAAI), 2012. [<a href="https://github.com/xiaoling/figer">Code</a>] [<a href="javascript:copy('aaai2012','aaai2012_bib')">bib</a>]<br /><div id="aaai2012"> </div></li>

<li><div id="acl2011_bib" style="display:none; text-align:left"><pre style="font-size:12px">
@InProceedings{hoffman-acl11,
  author    = {Hoffmann, R. and Zhang, C. and Ling, X. and Zettlemoyer, L. and Weld, D.S.},
  title     = {Knowledge-Based Weak Supervision for Information Extraction of Overlapping Relations},
  booktitle = {Proceedings of the ACL 2011 Conference},
  address   = {Portland, Oregon, USA},
  publisher = {The Association for Computer Linguistics},
}      
</pre> </div> 
Raphael Hoffmann, Congle Zhang, <b>Xiao Ling</b>, Luke Zettlemoyer, Daniel S. Weld. <a href="http://raphaelhoffmann.com/publications/acl2011.pdf">Knowledge-Based Weak Supervision for Information Extraction of Overlapping Relations</a>. In Proceedings of the Association for Computational Linguistics (ACL), 2011. [<a href="http://www.cs.washington.edu/ai/raphaelh/mr/">source code</a>] [<a href="javascript:copy('acl2011','acl2011_bib')">bib</a>]<br /><div id="acl2011"> </div></li>

<li><div id="aaai2010_bib" style="display:none; text-align:left"><pre style="font-size:12px">
@InProceedings{ling-weld-aaai10,
  author    = {Ling, Xiao  and  Weld, Daniel S.},
  title     = {Temporal Information Extraction},
  booktitle = {Proceedings of the AAAI 2010 Conference},
  month     = {July 11-15},
  year      = {2010},
  address   = {Atlanta, Georgia, USA},
  publisher = {Association for the Advancement of Artificial Intelligence},
  pages     = {1385 -- 1390},
  url       = {http://www.aaai.org/ocs/index.php/AAAI/AAAI10/paper/view/1805}
}      
</pre> </div> 
<b>Xiao Ling</b>, Daniel S. Weld. <a href="pubs/ling-aaai10.pdf">Temporal Information Extraction</a>. In Proceedings of the Twenty-Fourth Conference on Artificial Intelligence (<b>AAAI 2010</b>). Atlanta, GA. July 2010.  [<a href="https://www.cs.washington.edu/node/3328">Online Appendix</a>] [<a href="pubs/ptie_aaai_slides.pdf">Slides</a>] [<a href="javascript:copy('aaai2010','aaai2010_bib')">bib</a>]<br /><div id="aaai2010"> </div>  </li>
  <li><b>Xiao Ling</b>, Wenyuan Dai, Gui-Rong Xue, Yong Yu. "Spectral Domain-Transfer Learning". In
Proceedings of the 14th ACM SIGKDD international conference on Knowledge discovery and data mining (<b>SIGKDD
2008</b>), 2008. (<a href="pubs//kdd08.pdf">pdf</a>)</li>

<li><b>Xiao Ling</b>, Wenyuan Dai, Yun Jiang, Gui-Rong Xue, Qiang Yang and Yong Yu: "Can Chinese Web Pages be Classified with
English Data Source?". In Proceedings of the 17th international conference on World Wide Web (<b>WWW 2008</b>),
2008. (<a href="pubs//www08.pdf">pdf</a>)</li>

<li><b>Xiao Ling</b>, Wenyuan Dai, Gui-Rong Xue, Yong Yu: "Knowledge Transferring via Implicit Link Analysis". In
Proceedings of the Thirteenth International Conference on Database Systems for Advanced Applications (<b>DASFAA
2007</b>), 2008. (<a href="pubs//dasfaa08.pdf">pdf</a>)</li>

<li>Xiaochuan Ni, Gui-Rong Xue, <b>Xiao Ling</b>, Yong Yu, Qiang Yang: "Exploring in the Weblog Space by
Detecting Informative and Affective Articles". In Proceedings of the 16th international conference on World Wide Web
(<b>WWW 2007</b>), 2007. (<a href="pubs//www07.pdf">pdf</a>)</li>
</ul>
</div>
